[Unit]
Description=MongoWebApiStarter

[Service]
WorkingDirectory=/home/MongoWebApiStarter/app
ExecStart=/usr/bin/dotnet /home/MongoWebApiStarter/app/MongoWebApiStarter.dll
StandardOutput=file:/home/MongoWebApiStarter/app/output.log
StandardError=file:/home/MongoWebApiStarter/app/error.log
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=MongoWebApiStarter
User=MongoWebApiStarter
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target